@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* this is for about section  */
.spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
